[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
drfpasswordless = "*"
twilio = "*"
django-rest-auth = "*"
dhenoo = "*"

[requires]
python_version = "3.6"
